FinesSE/FinesSE.AcceptanceTests/bin/
FinesSE/FinesSE.AcceptanceTests/obj/
FinesSE/FinesSE.Contracts/bin/
FinesSE/FinesSE.Contracts/obj/
FinesSE/FinesSE.Core/bin/
FinesSE/FinesSE.Core/obj/
FinesSE/FinesSE.Loader/bin/
FinesSE/FinesSE.Loader/obj/
FinesSE/FinesSE.Outil/bin/
FinesSE/FinesSE.Outil/obj/
FinesSE/FinesSE.UnitTests/bin/
FinesSE/FinesSE.UnitTests/obj/
FinesSE/packages/
FinesSE/FinesSE.VisualRegression/bin/
FinesSE/FinesSE.VisualRegression/obj/
FinesSE/FinesSE.Outil.VisualRegression/bin/
FinesSE/FinesSE.Outil.VisualRegression/obj/
FinesSE/FinesSE.Launcher/obj/
FinesSE/FinesSE.Launcher/bin/
FinesSE/FinesSE.Bootstrapper/bin/
FinesSE/FinesSE.Bootstrapper/obj/
Release/
FinesSE/FinesSE.Drivers/obj/
FinesSE/FinesSE.Drivers/bin/
FinesSE/FinesSE.Expressions/obj/
FinesSE/FinesSE.Expressions/bin/
FinesSE/FinesSE.Outil.Expressions/obj/
FinesSE/FinesSE.Outil.Expressions/bin/
FinesSE/FinesSE.Reports/bin/
FinesSE/FinesSE.Reports/obj/
FinesSE/FinesSE.Outil.Reports/obj/
FinesSE/FinesSE.Outil.Reports/bin/
