<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="LightInject" version="5.1.1" targetFramework="net462" />
  <package id="LightInject.Interception" version="2.0.0" targetFramework="net462" />
  <package id="log4net" version="2.0.8" targetFramework="net462" />
  <package id="Magick.NET-Q16-AnyCPU" version="7.0.7.700" targetFramework="net462" />
  <package id="Selenium.WebDriver" version="3.6.0" targetFramework="net462" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net462" />
  <package id="YamlDotNet" version="4.2.2" targetFramework="net462" />
</packages>