<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ExCSS" version="2.0.6" targetFramework="net462" />
  <package id="LightInject" version="5.1.2" targetFramework="net462" />
  <package id="Magick.NET-Q16-AnyCPU" version="7.3.0" targetFramework="net462" />
  <package id="Selenium.WebDriver" version="3.141.0" targetFramework="net462" />
</packages>